.container {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.category {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  h1 {
    background: linear-gradient(to right, #f0f0f0, #d9d9d9);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  
  }

  form {
    .form-group {
      margin-bottom: 10px;

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: inherit;

        &:focus {
          outline: none;
          border-color: #4e98e0;
        }
      }
    }

    button[type="submit"] {
      background-color: #4e98e0;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      width: 100%;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #2d6ca2;
      }
    }
  }
}
